@font-face {
  font-family: 'Signika';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("Signika Regular"), local("Signika-Regular"), url(https://fonts.gstatic.com/s/signika/v8/vEFR2_JTCgwQ5ejvG1EmBg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

labonnealternance-widget {
  font: 16px 'Signika', 'Helvetica Neue', arial, sans-serif;
  font-weight: 400; }
  labonnealternance-widget * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1em;
    color: black; }
  labonnealternance-widget .sr-only {
    position: absolute !important;
    left: -10000px !important;
    top: -10000px !important; }
  labonnealternance-widget h1 {
    font-size: 1.5em; }
  labonnealternance-widget .button {
    background-color: #066EE7;
    color: white;
    border-radius: 20px;
    padding: 8px 60px;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    border: none; }
    labonnealternance-widget .button:hover {
      background-color: #0562CE;
      cursor: pointer; }
    @media (max-width: 768px) {
      labonnealternance-widget .button {
        padding: 8px 30px; } }
  labonnealternance-widget input[type=text] {
    background-color: white;
    color: #066EE7;
    border-radius: 20px;
    padding: 15px 30px;
    border: 1px solid #d3d3d3;
    width: 100%;
    font-size: 0.85em; }
  labonnealternance-widget .content {
    position: relative;
    width: 100%;
    padding: 10px;
    background: linear-gradient(to top right, cyan, blue, purple, magenta); }
    labonnealternance-widget .content > div {
      width: 100%;
      padding: 30px 60px;
      background-color: white; }
      @media (max-width: 768px) {
        labonnealternance-widget .content > div {
          padding: 30px; } }
  labonnealternance-widget header {
    text-align: center; }
    labonnealternance-widget header img {
      height: 70px; }
    labonnealternance-widget header img:first-child {
      margin-right: 30px; }
  labonnealternance-widget #home > div {
    display: flex;
    flex-direction: column; }
    labonnealternance-widget #home > div h1 {
      margin: 30px 0 0 0;
      font-weight: normal;
      font-size: 2em; }
    labonnealternance-widget #home > div .button-container {
      text-align: center;
      padding: 30px 0 0 0; }
  labonnealternance-widget #search-jobs > div, labonnealternance-widget #filter-jobs > div, labonnealternance-widget #search-location > div {
    margin-bottom: 30px; }
  labonnealternance-widget #search-jobs #job-form-step, labonnealternance-widget #search-jobs #location-form-step, labonnealternance-widget #search-jobs .submit-container, labonnealternance-widget #filter-jobs #job-form-step, labonnealternance-widget #filter-jobs #location-form-step, labonnealternance-widget #filter-jobs .submit-container, labonnealternance-widget #search-location #job-form-step, labonnealternance-widget #search-location #location-form-step, labonnealternance-widget #search-location .submit-container {
    margin-top: 30px; }
  labonnealternance-widget #search-jobs h1, labonnealternance-widget #filter-jobs h1, labonnealternance-widget #search-location h1 {
    margin-bottom: 10px; }
  labonnealternance-widget #search-jobs .submit-container, labonnealternance-widget #filter-jobs .submit-container, labonnealternance-widget #search-location .submit-container {
    text-align: center; }
    labonnealternance-widget #search-jobs .submit-container input, labonnealternance-widget #filter-jobs .submit-container input, labonnealternance-widget #search-location .submit-container input {
      font-size: 1.5em; }
  labonnealternance-widget #search-jobs ul.suggestion, labonnealternance-widget #filter-jobs ul.suggestion, labonnealternance-widget #search-location ul.suggestion {
    margin-top: 10px;
    list-style: none;
    border-radius: 5px;
    border: solid 1px #a9a9a9;
    border-bottom: none; }
    labonnealternance-widget #search-jobs ul.suggestion li, labonnealternance-widget #filter-jobs ul.suggestion li, labonnealternance-widget #search-location ul.suggestion li {
      padding: 7px 20px;
      border-bottom: 1px solid #a9a9a9;
      text-transform: capitalize;
      width: 100%;
      background: transparent;
      font-size: 1em;
      color: #333; }
      labonnealternance-widget #search-jobs ul.suggestion li:hover, labonnealternance-widget #search-jobs ul.suggestion li.current, labonnealternance-widget #filter-jobs ul.suggestion li:hover, labonnealternance-widget #filter-jobs ul.suggestion li.current, labonnealternance-widget #search-location ul.suggestion li:hover, labonnealternance-widget #search-location ul.suggestion li.current {
        background-color: #dcdcdc;
        text-decoration: underline;
        cursor: pointer; }
      labonnealternance-widget #search-jobs ul.suggestion li.rome-suggestion, labonnealternance-widget #filter-jobs ul.suggestion li.rome-suggestion, labonnealternance-widget #search-location ul.suggestion li.rome-suggestion {
        display: flex;
        align-items: center; }
        labonnealternance-widget #search-jobs ul.suggestion li.rome-suggestion .label, labonnealternance-widget #filter-jobs ul.suggestion li.rome-suggestion .label, labonnealternance-widget #search-location ul.suggestion li.rome-suggestion .label {
          flex: 1; }
        labonnealternance-widget #search-jobs ul.suggestion li.rome-suggestion .cross, labonnealternance-widget #filter-jobs ul.suggestion li.rome-suggestion .cross, labonnealternance-widget #search-location ul.suggestion li.rome-suggestion .cross {
          width: 40px; }
  labonnealternance-widget #results .loader-logo {
    text-align: center;
    margin: 30px 0 10px 0; }
  labonnealternance-widget #results h1 {
    margin-top: 10px;
    font-size: 1.25em;
    margin-bottom: 10px; }
  labonnealternance-widget #results .company {
    margin-bottom: 30px;
    padding: 15px 25px;
    border: solid 1px darkgray;
    border-radius: 5px; }
  labonnealternance-widget #results .distance {
    margin-bottom: 10px; }
  labonnealternance-widget #results .link-container {
    text-align: center; }
    labonnealternance-widget #results .link-container a {
      color: white;
      text-decoration: none; }
      labonnealternance-widget #results .link-container a:hover {
        text-decoration: underline;
        cursor: pointer; }
  labonnealternance-widget #results .center {
    text-align: center; }
    labonnealternance-widget #results .center > div {
      margin-bottom: 30px;
      text-align: left; }
  labonnealternance-widget .loader-logo img {
    -webkit-animation: rotate 5s linear infinite;
    animation: rotate 5s linear infinite; }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
  labonnealternance-widget .alert {
    border: solid 1px red;
    background: #ffc2c2;
    padding: 10px;
    margin-top: 15px; }
  labonnealternance-widget .arrow {
    position: relative;
    top: 3px;
    margin-right: 7px; }
  labonnealternance-widget .result-title {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px; }
    labonnealternance-widget .result-title h1 {
      flex: 3;
      font-size: 1.5em;
      float: left; }
    labonnealternance-widget .result-title a {
      flex: 1;
      float: right;
      text-align: right; }
